.loginPage {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 560px;
  min-height: 680px;
}

.loginPage .loginRightButton {
  position: absolute;
  top: 32px;
  right: 40px;
  width: 64px;
  height: 22px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 16px;
  color: #414a64;
}

.loginPage .loginRightButton:hover {
  color: #184cea;
}

.loginPage .loginSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  flex-shrink: 0;
  flex-basis: 560px;
  background-image: url(https://51nbimg.u51.com/ac28608b4e0e47f8b3ff9833fbe1e3e6.svg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.loginPage .loginSide .loginLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: calc(100% - 160px);
  height: 738px;
  aspect-ratio: 1680/2220;
}

.loginPage .loginSide .loginLogo .loginLogoTitle {
  margin-bottom: 40px;
  width: 38.2%;
  aspect-ratio: 366/180;
  object-fit: contain;
}

.loginPage .loginSide .loginLogo .loginLogoImages {
  width: 100%;
  aspect-ratio: 1680/1920;
}

.loginPage .loginMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  flex-grow: 999;
  flex-basis: 560px;
}

.loginPage .loginMain .loginInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 480px;
}

.loginPage .loginMain .loginInner .loginTitle {
  width: 224px;
  height: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 32px;
  color: #111a34;
  line-height: 32px;
  margin-bottom: 28px;
  align-self: flex-start;
}

.loginPage .loginMain .loginInner .loginModule {
  display: flex;
  width: 480px;
  height: 560px;
  background: #ffffff;
  box-shadow: 0 0 18px 0 rgba(132, 158, 192, 0.21);
  border-radius: 12px;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .loginQR {
  position: absolute;
  top: -20px;
  right: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .loginTabSelect {
  display: flex;
  align-items: center;
  margin: 0 40px 62px 40px;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .loginTabSelect .selectItem {
  margin-right: 20px;
  height: 20px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 20px;
  color: #a1a7ba;
  line-height: 20px;
  cursor: pointer;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .loginTabSelect .active {
  position: relative;
  height: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 20px;
  color: #111a34;
  text-align: center;
  line-height: 20px;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .loginTabSelect .active::after {
  display: block;
  position: absolute;
  bottom: -9px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #327bf9;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext {
  padding: 0 40px;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scPhoneNumber,
.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scPassword,
.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scCode {
  padding: 0 20px;
  width: 400px;
  height: 56px;
  background: #f6f8fb;
  border-radius: 8px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 16px;
  color: #131314;
  border: 1px solid #f6f8fb;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext :global(.ant-input-status-error) {
  border-color: #ff4747;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext :global(.ant-input-affix-wrapper-status-error) {
  border-color: #ff4747;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scPhoneNumber:focus,
.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scPassword:focus,
.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scCode:focus {
  box-shadow: none;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext :global(.ant-input-affix-wrapper-focused) {
  box-shadow: none;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scPassword input {
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 16px;
  background: #f6f8fb;
  color: #131314;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext input::-webkit-input-placeholder {
  color: #a1a7ba;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scForget,
.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scMessage {
  position: relative;
  color: #7a7b89;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scForget .forgetPassword,
.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scMessage .forgetPassword {
  position: absolute;
  top: -18px;
  right: 2px;
  width: 56px;
  height: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 14px;
  color: #777e95;
  line-height: 14px;
  cursor: pointer;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scForget .messageCodeBtn,
.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scMessage .messageCodeBtn {
  position: absolute;
  top: -71px;
  right: 20px;
  width: 80px;
  height: 22px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 16px;
  color: #327bf9;
  text-align: right;
  line-height: 22px;
  cursor: pointer;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scLoginButton {
  width: 400px;
  height: 56px;
  background: #327bf9;
  border-radius: 8px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scAgreements {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .selectContext .scAgreements .agreemrntsItem {
  margin-left: 8px;
  color: #777e95;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .accountRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 38px;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperPC .accountRegister .registerItem {
  width: 64px;
  height: 22px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 16px;
  color: #414a64;
  cursor: pointer;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR {
  position: relative;
  width: 100%;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .loginPC {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .qrTitle {
  margin: 64px 123px 4px;
  width: 234px;
  height: 56px;
  color: #111a34;
  font-size: 20px;
  font-family: PingFangSC;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .qrTitle span {
  cursor: pointer;
  color: #327bf9;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appVersion {
  margin: 0 181px;
  width: 118px;
  height: 17px;
  color: #777e95;
  font-size: 12px;
  font-family: PingFangSC;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appVersion span {
  color: #111a34;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appDownload {
  position: absolute;
  left: 0;
  top: 150px;
  width: 480px;
  height: 391px;
  background: #ffffff;
  box-shadow: 0 0 18px 0 rgba(132, 158, 192, 0.21);
  border-radius: 14px;
  z-index: 1;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appDownload .appScanTitle {
  margin: 52px 120px 20px;
  width: 240px;
  height: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 20px;
  color: #111a34;
  text-align: center;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appDownload img {
  margin: 0px 120px 51px;
  width: 240px;
  height: 240;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appNP {
  display: none;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appQR {
  margin: 19px 120px 23px;
  width: 240px;
  height: 240px;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appQR img {
  width: 100%;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appQR:hover::before {
  display: block;
  content: '';
  position: absolute;
  left: -120px;
  top: -22px;
  width: 234px;
  height: 442px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(https://51nbimg.u51.com/f5b0ebe0ff46466984a82bd61b0d0202.png);
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appAgreements {
  display: flex;
  margin: 0 46px 100px;
  width: 388px;
  height: 35px;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appAgreements .agreemrntsItem {
  margin-left: 8px;
  color: #777e95;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appPrompt {
  position: absolute;
  top: 160px;
  left: 120px;
  width: 240px;
  height: 240px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.loginPage .loginMain .loginInner .loginModule .loginWrapperQR .appPrompt span {
  position: absolute;
  top: 98px;
  left: 34px;
  height: 44px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 14px;
  color: #111a34;
  text-align: center;
  line-height: 22px;
  vertical-align: baseline;
}

.loginPage .loginMain .loginInner .loginModule .register {
  position: relative;
  width: 100%;
}

.loginPage .loginMain .loginInner .loginModule .register img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.loginPage .loginMain .loginInner .loginModule .register .rgTitle {
  margin: 22px 360px 33px 40px;
  width: 80px;
  height: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 20px;
  color: #111a34;
  text-align: center;
  line-height: 20px;
}
