.loginWrapperQR {
  position: relative;
  width: 100%;
}

.loginWrapperQR .loginPC {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.loginWrapperQR .qrTitle {
  margin: 64px 123px 4px;
  width: 234px;
  height: 56px;
  color: #111a34;
  font-size: 20px;
  font-family: PingFangSC;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}

.loginWrapperQR .qrTitle span {
  cursor: pointer;
  color: #327bf9;
}

.loginWrapperQR .appVersion {
  margin: 0 181px;
  width: 118px;
  height: 17px;
  color: #777e95;
  font-size: 12px;
  font-family: PingFangSC;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
}

.loginWrapperQR .appVersion span {
  color: #111a34;
}

.loginWrapperQR .appDownload {
  position: absolute;
  left: 0;
  top: 150px;
  width: 480px;
  height: 391px;
  background: #ffffff;
  box-shadow: 0 0 18px 0 rgba(132, 158, 192, 0.21);
  border-radius: 14px;
  z-index: 1;
}

.loginWrapperQR .appDownload .appScanTitle {
  margin: 52px 120px 20px;
  width: 240px;
  height: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 20px;
  color: #111a34;
  text-align: center;
}

.loginWrapperQR .appDownload img {
  margin: 0px 120px 51px;
  width: 240px;
  height: 240;
}

.loginWrapperQR .appNP {
  display: none;
}

.loginWrapperQR .appQR {
  margin: 19px 120px 23px;
  width: 240px;
  height: 240px;
}

.loginWrapperQR .appQR img {
  width: 100%;
}

.loginWrapperQR .appQR:hover::before {
  display: block;
  content: '';
  position: absolute;
  left: -120px;
  top: -22px;
  width: 234px;
  height: 442px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(https://51nbimg.u51.com/f5b0ebe0ff46466984a82bd61b0d0202.png);
}

.loginWrapperQR .appAgreements {
  display: flex;
  margin: 0 46px 100px;
  width: 388px;
  height: 35px;
}

.loginWrapperQR .appAgreements .agreemrntsItem {
  margin-left: 8px;
  color: #777e95;
}

.loginWrapperQR .appPrompt {
  position: absolute;
  top: 160px;
  left: 120px;
  width: 240px;
  height: 240px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.loginWrapperQR .appPrompt span {
  position: absolute;
  top: 98px;
  left: 34px;
  height: 44px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 14px;
  color: #111a34;
  text-align: center;
  line-height: 22px;
  vertical-align: baseline;
}
